WpfApp/Connected Services/INGService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/INGServer/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/INGServer/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/INGServer/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INGServer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IINGService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IINGService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IINGService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IINGService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IINGService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IINGService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IINGService_GetUserIdByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdByUsername" />
  </wsdl:message>
  <wsdl:message name="IINGService_GetUserIdByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IINGService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IINGService/AddUser" message="tns:IINGService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IINGService/AddUserResponse" message="tns:IINGService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IINGService/LogIn" message="tns:IINGService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IINGService/LogInResponse" message="tns:IINGService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IINGService/GetUser" message="tns:IINGService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IINGService/GetUserResponse" message="tns:IINGService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IINGService/GetUserIdByUsername" message="tns:IINGService_GetUserIdByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IINGService/GetUserIdByUsernameResponse" message="tns:IINGService_GetUserIdByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IINGService" type="tns:IINGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IINGService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IINGService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IINGService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByUsername">
      <soap:operation soapAction="http://tempuri.org/IINGService/GetUserIdByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IINGService" binding="tns:BasicHttpBinding_IINGService">
      <soap:address location="http://localhost/INGServer/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>